@using IStore.Domain;
@using IStore.Data.Interfaces;
@model Dictionary<int, int>
@{
    Layout = "_Layout";
}
<div class="container">
    <h2>Ваш заказ:</h2>
    <div class="table-responsive">
        @{
            double allSum = 0;
            if (Model.Count() == 0)
            {
                <p>В корзине нет товаров!</p>

            }
            else
            {

                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Изображение</th>
                            <th>Название</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Сумма</th>
                            <th>Удалить</th>
                        </tr>
                        @{
                            for (int index = 0; index < (int)ViewData["length"]; index++)
                            {
                                if (Model.TryGetValue(index, out int count))
                                {
                                    Product product = ((IProductsRepository)ViewData["products"]).Get(index);
                                    double sum = count * product.Price;
                                    allSum += sum;
                                    <tr>
                                        <th><img src="@product.Image" style="width:50px;"></th>
                                        <th>@product.Title</th>
                                        <th>@product.Price</th>
                                        <th>@count</th>
                                        <th>@sum</th>
                                        <th><a asp-action="DeleteItem" asp-route-id="@index"><img src="~/images/cart/cross.png" style="width:50px;"></a></th>
                                    </tr>
                                }
                            }
                        }
                    </thead>
                </table>
            }
        }
    </div>
    <div>
        <h4>Способ оплаты:</h4>
        <p>
            <label><input name="money" type="radio" value="card"><img src="~/images/cart/cards.jpg" style="width: 100px;"></label>

            <label><input name="money" type="radio" value="qiwi"><img src="~/images/cart/qiwi.jpg" style="width: 100px;"></label>

            <label><input name="money" type="radio" value="yandex"><img src="~/images/cart/yandex.jpg" style="width: 100px;"></label>
        </p>
    </div>
    <div><b>Итого:</b> <span id="total-cart-summa">@Math.Round(allSum, 3)</span> €</div>
    <br>
    <button id="order" class="btn btn-info">Оформить заказ</button>
</div>



